## T20 WORLD CUP CRICKET DATA PROCESSING ##

In [10]:
import pandas as pd
import json

In [13]:
import os
print(os.getcwd())

print(os.listdir())

C:\Users\TIZAOUI\CRICKET ANALYSIS
['.ipynb_checkpoints', 'CRICKET.ipynb', 't20_wc_batting_summary.json', 't20_wc_bowling_summary.json', 't20_wc_match_results.json', 't20_wc_player_info.json']

### Process Match Results

In [117]:
with open("t20_wc_match_results.json") as f:
    data = json.load(f)
data
len(data) #has 1 element if you look in the jason file ther is only one []
data[0]['matchSummary']

1

In [26]:
df_match= pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [28]:
df_match.shape

(45, 7)

In [29]:
#rename column in DF
df_match.rename({'scorecard' : 'match_id'}, axis=1, inplace=True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

### Process Batting Summary

In [118]:
with open("t20_wc_batting_summary.json") as f:
    data = json.load(f)
len(data)
data

45

In [ ]:
# Afficher tous les éléments un par un
for i, rec in enumerate(data, start=1):
    print(f"--- Élément {i} ---")
    print(rec)
    print("\n")

In [121]:
all_records=[] #cree une liste vide pour mettre la liste des dictionnaires contenus dans chaque élement : "battingSummary". dedans un format 
#compris ar pandas afin de pouvoir converir d'un format imbriqué json a un format dictionnaire seule ligne 

for rec in data : 
    all_records.extend(rec["battingSummary"])   
df_batting= pd.DataFrame(all_records)
df_batting.head(20)

 #rec["battingSummary"] est une liste de dictionnaires originale en json
#all_records.extend(rec["battingSummary"])  :ajoute tous les dictionnaires de cette liste à all_records grace a extend 
#Après la boucle, all_records est une seule grande liste contenant tous les dictionnaires de tous les matchs.

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,c â€ Green b Wiese,6,6,0,0,100.00
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,c â€ Green b Shikongo,0,1,0,0,0.00
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,c la Cock b Scholtz,20,21,2,0,95.23
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),c â€ Green b Frylinck,29,23,2,1,126.08
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,c Loftie-Eaton b Scholtz,4,8,0,0,50.00
15,Namibia Vs Sri Lanka,Sri Lanka,8,Chamika Karunaratne,c Baard b Smit,5,8,0,0,62.50
16,Namibia Vs Sri Lanka,Sri Lanka,9,Pramod Madushan,run out (van Lingen/â€ Green),0,0,0,0,-
17,Namibia Vs Sri Lanka,Sri Lanka,10,Dushmantha Chameera,c Erasmus b Wiese,8,15,0,0,53.33
18,Namibia Vs Sri Lanka,Sri Lanka,11,Maheesh Theekshana,,11,11,0,1,100.00
19,U.A.E. Vs Netherlands,U.A.E.,1,Chirag Suri,c â€ Edwards b van der Merwe,12,20,1,0,60.00

In [ ]:
#create a new column "out/not out" based on whether "dismissal" is empty or not.
df_batting["out/not out"] =df_batting["dismissal"].apply(
   lambda x: "out" if len(x) > 0 else "not out")

df_batting["out/not out"] = np.where(df_batting["dismissal"] == "", "not out", "out") ~#2eme facon

df_batting.head(11)

In [ ]:
#drop column dismissal
df_batting.drop(columns=["dismissal"], inplace = True)

In [56]:
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,6,6,0,0,100.00,out

In [58]:
import re
# show rows with non-ASCII characters in 'batsmanName'
df_batting[df_batting['batsmanName'].str.contains(r'[^\x00-\x7F]')]

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,6,6,0,0,100.00,out
22,U.A.E. Vs Netherlands,U.A.E.,4,Vriitya Aravindâ€,18,21,0,0,85.71,out
34,U.A.E. Vs Netherlands,Netherlands,6,Scott Edwards(c)â€,16,19,0,0,84.21,not out
40,Scotland Vs West Indies,Scotland,3,Matthew Crossâ€,3,5,0,0,60.00,out
48,Scotland Vs West Indies,West Indies,4,Nicholas Pooran(c)â€,5,9,0,0,55.55,out
...,...,...,...,...,...,...,...,...,...,...
668,New Zealand Vs Pakistan,Pakistan,1,Mohammad Rizwanâ€,57,43,5,0,132.55,out
678,India Vs England,India,6,Rishabh Pantâ€,6,4,1,0,150.00,out
680,India Vs England,England,1,Jos Buttler(c)â€,80,49,9,3,163.26,not out
682,Pakistan Vs England,Pakistan,1,Mohammad Rizwanâ€,15,14,0,1,107.14,out
692,Pakistan Vs England,England,1,Jos Buttler(c)â€,26,17,3,1,152.94,out

In [59]:
df_batting['batsmanName']=df_batting['batsmanName'].apply( lambda x : x.replace('â€', ''))
df_batting['batsmanName']=df_batting['batsmanName'].apply( lambda x : x.replace('\xa0', ''))
df_batting.head(15)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,0,1,0,0,0.00,out
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,20,21,2,0,95.23,out
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),29,23,2,1,126.08,out
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,4,8,0,0,50.00,out

In [93]:
#create column id in the df_batting based on the columns match , team1	and team2 
match_ids_dict = {}
for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']  # reversed
    match_ids_dict[key1] = row["match_id"]
    match_ids_dict[key2] = row["match_id"]

#ca cest pour les colonnes par Namibia Vs Sri Lank et  Sri Lank Namibia Vs
#drop column dismissal

In [116]:
df_batting["match_id"]=df_batting['match'].map(match_ids_dict)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823

### Process Bowling Summary

In [88]:
with open ("t20_wc_bowling_summary.json") as f : 
    data=json.load(f)
all_records=[]
for rec in data :
    all_records.extend(rec["bowlingSummary"])
all_records[:3]

[{'match': 'Namibia Vs Sri Lanka',
  'bowlingTeam': 'Sri Lanka',
  'bowlerName': 'Maheesh Theekshana',
  'overs': '4',
  'maiden': '0',
  'runs': '23',
  'wickets': '1',
  'economy': '5.75',
  '0s': '7',
  '4s': '0',
  '6s': '0',
  'wides': '2',
  'noBalls': '0'},
 {'match': 'Namibia Vs Sri Lanka',
  'bowlingTeam': 'Sri Lanka',
  'bowlerName': 'Dushmantha Chameera',
  'overs': '4',
  'maiden': '0',
  'runs': '39',
  'wickets': '1',
  'economy': '9.75',
  '0s': '6',
  '4s': '3',
  '6s': '1',
  'wides': '2',
  'noBalls': '0'},
 {'match': 'Namibia Vs Sri Lanka',
  'bowlingTeam': 'Sri Lanka',
  'bowlerName': 'Pramod Madushan',
  'overs': '4',
  'maiden': '0',
  'runs': '37',
  'wickets': '2',
  'economy': '9.25',
  '0s': '6',
  '4s': '3',
  '6s': '1',
  'wides': '0',
  'noBalls': '0'}]

In [90]:
df_bowling=pd.DataFrame(all_records)
print(df_bowling.shape)
df_bowling.head()

(500, 13)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0

In [91]:
df_bowling['match_id']=df_bowling['match'].map(match_ids_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823

### Process players infos

In [99]:
with open ("t20_wc_player_info.json") as f:
    data= json.load(f)
data[:4]

[{'name': 'Michael van Lingen',
  'team': 'Namibia',
  'battingStyle': 'Left hand Bat',
  'bowlingStyle': 'Left arm Medium',
  'playingRole': 'Bowling Allrounder',
  'description': ''},
 {'name': 'Divan la Cock',
  'team': 'Namibia',
  'battingStyle': 'Right hand Bat',
  'bowlingStyle': 'Legbreak',
  'playingRole': 'Opening Batter',
  'description': ''},
 {'name': 'Jan Nicol Loftie-Eaton',
  'team': 'Namibia',
  'battingStyle': 'Left hand Bat',
  'bowlingStyle': 'Right arm Medium, Legbreak',
  'playingRole': 'Batter',
  'description': ''},
 {'name': 'Stephan Baard',
  'team': 'Namibia',
  'battingStyle': 'Right hand Bat',
  'bowlingStyle': 'Right arm Medium fast',
  'playingRole': 'Batter',
  'description': ''}]

In [100]:
df_players = pd.DataFrame(data)
df_players

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
...,...,...,...,...,...,...
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Regis Chakabva(c)â€,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...

#### Nettoyage

In [103]:
df_players['name']=df_players['name'].apply(lambda x : x.replace('â€', ''))
df_players['name']=df_players['name'].apply(lambda x :x.replace('†', ''))
df_players['name'] =df_players['name'].apply(lambda x: x.replace('\xa0', ''))
df_players.head(10)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendis,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."

In [106]:
df_players[df_players['team']=='Sri Lanka']

,name,team,battingStyle,bowlingStyle,playingRole,description
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendis,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."
10,Dhananjaya de Silva,Sri Lanka,Right hand Bat,Right arm Offbreak,Allrounder,A technically correct top-order batsman from t...
11,Danushka Gunathilaka,Sri Lanka,Left hand Bat,Right arm Offbreak,Allrounder,"A poised, attacking left-handed opener groomed..."
12,Bhanuka Rajapaksa,Sri Lanka,Left hand Bat,Right arm Medium,Top order Batter,"An attacking left-handed batsman, Bhanuka Raja..."
13,Dasun Shanaka(c),Sri Lanka,Right hand Bat,Right arm Medium,Allrounder,"An explosive middle-order batsman, and steady ..."
14,Wanindu Hasaranga de Silva,Sri Lanka,Right hand Bat,Legbreak,Allrounder,"A bruising lower-middle order batsman, and an ..."
15,Chamika Karunaratne,Sri Lanka,Right hand Bat,Right arm Medium fast,Bowling Allrounder,
16,Pramod Madushan,Sri Lanka,Right hand Bat,Right arm Medium fast,Bowler,
17,Dushmantha Chameera,Sri Lanka,Right hand Bat,Right arm Fast,Bowler,"Tall, slim and slippery, Dushmantha Chameera a..."
18,Maheesh Theekshana,Sri Lanka,Right hand Bat,Right arm Offbreak,Bowler,
22,Charith Asalanka,Sri Lanka,Left hand Bat,Right arm Offbreak,Batting Allrounder,
32,Binura Fernando,Sri Lanka,Right hand Bat,Left arm Medium fast,Bowler,Known for his ability to generate awkward boun...
33,Lahiru Kumara,Sri Lanka,Left hand Bat,Right arm Fast,Bowler,"A robust, right-arm fast bowler from Kandy, La..."
34,Dasun Shanaka,Sri Lanka,Right hand Bat,Right arm Medium,Allrounder,"An explosive middle-order batsman, and steady ..."
191,Kasun Rajitha,Sri Lanka,Right hand Bat,Right arm Medium fast,Bowler,"Virtually unheard of before 2015, the first in..."

## Data_cleaned exportation ##

In [ ]:
df_match.to_excel('dim_match_summary3.xlsx', index=False)

In [ ]:
#export "df_batting_cleaned.csv", index=False)
df_batting.to_csv('fact_bating_summary.csv' , index=False)

In [96]:
df_bowling.to_csv('fact_bowling_summary.csv' , index=False)

In [114]:
df_players.to_excel('dim_players.xlsx', index=False)

In [123]:
import pandas as pd

#Read the CSV file
df = pd.read_csv("dim_players (1).csv")

#Export it to Excel
df.to_excel("dim_players (1).xlsx", index=False)